# Vim
*.swp
*.swo
*.DS_Store
data/*.DS_Store

# Visual Studio Code
.vscode/
*.code-workspace

# colcon
build/
install/
log/

# bag
*.bag

# Python
*.pyc

# Jetbrains
.idea/

# rviz Screen Capture
capture/

# CodeChecker
.codechecker/

# Node.js
node_modules/
