<launch>
  <include file="$(find rgb_mapping)/launch/load_sensors_data.launch" />
  <node pkg="rgb_mapping" name="pointcloud_shader_server" type="pointcloud_shader_server" output="screen"/>
  <param name="cloud_shader_server_is_on" type="bool" value="true"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="world2vehicle" args="0 0 0 0 0 0 1 world vehicle" />

  <node name="rviz" pkg="rviz" type="rviz"
    args="-d $(find rgb_mapping)/config/pointcloud_shader.rviz"/>

  <!-- 是否循环读取数据 -->
  <param name="repeat_load_sensors_data" type="bool" value="false"/> 
</launch>
